body {
	background-color: #F0F0F0;
}

.main-menu {
	background-color: #009688;
	height: 60px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-menu a {
	color: #FFF;
	text-decoration: none;
}

.main-menu a:hover {
	opacity: 0.6;
}

.div-shadow {
	box-shadow: 0px 2px 1px #A7A7A7;
	margin-bottom: 40px;
}

.main-div {
	background-color: #FFF;	
	height: 300px;
}

.title-div {
	background-color: #17588B;
	height: 80px;
	padding: 40px;
}

.info-div {
	background-color: #306A98;
	padding: 40px;
	height: auto;
}

.date-div {
	width: 90px;
	height: 90px;
	background-color: #009688;
    position: absolute;
    top: -27px;
    margin-left: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.date-div-shadow {
	width: 90px;
	height: 90px;
	background-color: #003B46;
    position: absolute;
    top: -27px;
    margin-left: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow: 0px 2px 1px #003B46;
	opacity: 0.5;
}
